@media(max-width: 1400px){
  .container .header{
    padding-top: 280px;

  }
}
@media(max-width: 1024px){
  .container .header{
    padding-top: 300px;

  }
  .container{
    background-position: center center;
  }
}
@media(max-width: 768px){
  .our-love-block{
    display: hidden;
  }
}
